# ----------------------------------------------------------------------------
# ALIASES
# - python
alias py2='/usr/bin/python2.7'
alias pi='noglob pip install'
alias pf='noglob pip freeze'
alias pr='noglob pip uninstall'
alias pl='noglob pip list'
alias black='black -l 79'

# - shell 
alias ..='cd ..'
alias h='man'
alias g='hub'
alias zreload='source ~/.zshrc'
alias breload='source ~/.bash_profile'
alias lxplus='ssh fdecourc@lxplus.cern.ch'

# - config
alias vimconfig="vim ~/.vimrc"
alias vimlocal="vim ~/.vimrc.local"

alias zshconfig="vim ~/.zshrc"
alias zshlocal="vim ~/.zshrc.local"
alias omzconfig="vim ~/.oh-my-zsh"

alias bashconfig="vim ~/.bash_profile"

alias hyperconfig="vim ~/.hyper.js"

alias aliases="vim ~/.aliases"
alias haliases="vim ~/.aliases.home"
alias waliases="vim ~/.aliases.work"

# - brew
alias bi='brew install'
alias bu='brew update'
alias br='brew remove'

alias da='deactivate'

# - docker
alias dka='docker kill $(docker ps -q)'

# - other
ctags=/usr/local/bin/ctags
